# Required Environment Variables
NODE_ENV=production
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_WS_URL=wss://api.motherfluxer.com
REDIS_URL=redis://localhost:6379
DB_HOST=motherfluxerdb.c322i2ssm4z8.us-east-2.rds.amazonaws.com
DATABASE_URL=postgresql://postgres:password@localhost:5432/motherfluxer 